

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/css/NotFound.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/NotFound.js"></script>
</head>
<body>
    <div class="text">
        <h1>404</h1>
        <h2>Uh, Ohh</h2>
        <h3>Sorry we cant find what you are looking for , its so dark in here</h3>
    </div>
    <div class="torch"></div>
</body>


</html>
